@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
}